contract/cache
contract/out
proofs
broadcast
.env
plonk_vk.sol
circuits/target/*
js/node_modules
.DS_Store
.yarn
js/.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
js/node_modules
.pnp.*

